<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Servicename</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{servicename.id}}</td>
                <td>{{servicename.servicename}}</td>
            </tr>
        </tbody>
    </table>
    {{msg}}
</body>
</html>